*{
    margin: 0;
    padding: 0;
}

footer{
    position: absolute;
    /* bottom: 0;
    left: 0;
    right: 0; */
    background-color: rgb(27, 73, 66);
    height: auto;
    padding-top: 40px;
    width: 100vw;
    color: white;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

 .socials li a{
    margin: 0 10px;
    color: #fff;
    border: 1.1px solid white;
    padding: 8px;
    border-radius: 50%;
    width: 35px;
    text-decoration: none;
}

.footer-menu{
    margin-bottom: 20px;
}

.footer-menu ul{
    display: flex;
}

.footer-menu ul li{
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a{
    color: #cfd2d6;
    border: 1.3px solid white;
    padding: 6px 15px;
    border-radius: 50px;
    text-decoration: none;
}

.footer-menu ul li a:hover{
    color: #27bcda;
    text-decoration: none;
}

.footer-cred{
    text-align: center;
    padding: 10px;
}

.footer-cred p{
    text-align: center;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    text-shadow: 0 10px rgba(255, 255, 255, 0.1);
    letter-spacing: 1px;
}