* {
    margin: 0;
    padding: 0;
}

.containers {
    border: solid rgb(27, 73, 66);
    border-width: 1px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 160px;
    margin-right: 162px;
    display: grid;
    height: 100%;
    grid-template-columns: 0.75fr 2fr;
    grid-template-rows: 0.2fr 2fr 0.25fr;
    grid-template-areas:
        "side nav"
        "side content1"
        "side content2"
}

.sideImg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.anchor {
    text-decoration: none;
    color: black;
}

.anchor:hover {
    color: rgb(27, 73, 66);
}

.listing {
    padding: 4px 16px;
}

.listi {
    list-style-type: none;
    margin: 0;
    padding: 10px 10px;
    color: white;
}

.listi li {
    padding: 10px;
}

.listing:hover {
    font-size: 20px;
}

#sideL {
    grid-area: side;
    display: block;
    border: solid rgb(27, 73, 66);
    border-width: 1px;
    height: 100%;
}

#nav {
    grid-area: nav;
    border: solid rgb(27, 73, 66);
    border-width: 1px;
}

h3 {
    text-align: center;
    color: rgb(27, 73, 66);
  }

#content1 {
    grid-area: content1;
    border: solid rgb(27, 73, 66);
    border-width: 1px;
    padding: 10px;
}

#content2 {
    grid-area: content2;
    border: solid rgb(27, 73, 66);
    border-width: 1px;
}

@media only screen and (max-width: 700px) {
    .containers {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 1.2fr 1fr 0.2fr;
        grid-template-areas:
            "nav"
            "side"
            "content1"
            "content2";
    }
    .listi li {
        text-align: center;
    }
    .contentButton {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px;
        margin: 10px 20px 0 ;
    }
}

.phoneNumber {
    display: flex;
    gap: 10px;
}

.phoneNumber select {
    width: 60px;
}

.contentBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contentBottom select {
    width: 300px;
    height: 30px;
}

.contentBottom input {
    width: 150px;
    height: 30px;
}

.contentButton {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    margin: 10px 20px 0 ;
}

.contentButton button {
    height: 50px;
    width: 100px;
    background-color: #006400;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: medium;
    font-weight: 700;
}

.contentButton button:hover {
    background-color: rgb(27,73,66);
    height: 55px;
    width: 120px;
    font-size: large;
}